<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
	<link href='https://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
	<title></title>
</head>
<body>
	<h1>
		The Great
		<br>
		<span id="rgbDisplay"></span> 
		<br>
		Guessing Game
	</h1>
	
	<div id="header">
		<button id="refresh">New Colours</button>
		<span id="result"></span>
		<button id="easyBtn">Easy</button>
		<button id="hardBtn" class="selected">Hard</button>
	</div>

	<div id="container">
		<div class="square"></div>
		<div class="square"></div>
		<div class="square"></div>
		<div class="square"></div>
		<div class="square"></div>
		<div class="square"></div>
	</div>

	<script src="javascript/app.js"></script>
</body>
</html>